__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info/

.claude/
.dockerignore
.env
.env.sample
.git/
.gitignore
.pytest_cache/
.python-version
.ruff_cache/
.venv/
.vscode/

Dockerfile
LICENSE
persistent_data/
misc/
tests/
*.md
